<div class="container">
  <mat-toolbar>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-between center">
      <div fxFlex="20" fxFlex.gt-sm="20" class="logo">
        <a href='/#'><img src="https://http2.mlstatic.com/ui/navigation/4.2.2/mercadolibre/logo__large_plus.png"></a>
      </div>
      <div fxFlex="80" fxFlex.gt-sm="80" class="search">
        <app-search></app-search>
      </div>
    </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>